

body{
    background: #FFDB00;
}

#no-mobile{display: none;position: absolute;text-align: center;left: 0;z-index: 1000000;background: rgba(0, 0, 0, 0.6);top: 0;bottom: 0;color: white;right: 0;}
#no-mobile h1{font-family: 'Passion One'}
#no-mobile p{font-family: 'Lato'}

#no-mobile-text{
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -120px;
    padding: 0 20px;
}

#no-mobile .btn-primary{
    margin-top: 20px;
}

#game-container{
    height: 100%;
    width: 100%;
    background: url(../img/fondo_01.svg)no-repeat;
    background-size: cover;
    background-position: 50%;
    overflow: hidden;
    /* min-height: 100vh; */
    position: absolute;
    min-height: 651px;
    min-width: 1350px;
}
@media(max-width:1260px){
    #no-mobile{display: block}

    #game-container{min-width: 0px;}
}
@media(max-height:651px){
    #no-mobile{display: block}
    #game-container{min-height:0px;}
}

#main-loader{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #FFDB00;
    text-align: center;
    top: 0;
    left: 0;
    padding: 24% 0px;
    /* display: none; */
    z-index: 10000;
}
#main-loader img{
    -webkit-animation: rotating 1s linear infinite;
    -moz-animation: rotating 1s linear infinite;
    -ms-animation: rotating 1s linear infinite;
    -o-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
}
#main-loader.remove{display: none;}

/* -----------
* BACKGROUND INTRO
* ----------- */

.reno-bg{
    position: absolute;
    z-index: 102;
}
img{max-width: 100%}

#reno-der{
    right: -6px;
    width: 170px;
    top: 10vh;
    width: 13vw;
}
#reno-izq{
    left: 0;
    width: 100px;
    top: 15vh;
    width: 8vw;
    min-width: 122px;
}

#content-container{
    text-align: center;
    font-family: Lato;
}


#reno-middle-der{
    width: 82px;
    right: -8px;
    transform: rotate(270deg);
    top: 59%;
}

#papa-noel-intro{
    position: absolute;
    top: 13%;
    left: 3%;
    width: 310px;
    width: 23vw;
}


#papa-noel-intro-rastrillo{
    width: 133px;
    position: absolute;
    top: 85%;
    left: -52px;
    width: 11vw;
}

#reno-bottom{
    width: 82px;
    bottom: 0;
    left: 70%;
}
#reno-top{
    width: 82px;
    top: 0;
    left: 30%;
    transform: rotate(180deg);
}

.arbol-bg{position: absolute;}

#arbol-chico{width: 125px;right: 15%;top: 50%;width: 10vw;}
#arbol-grande{
    width: 170px;
    right: 2%;
    top: 11%;
    width: 13vw;
}

@media(min-width:1650px){
    #papa-noel-intro{
        left: -3%;
    }
}

/* -----------
 * INTRO SCREEN
 * ----------- */


#intro{position: absolute;width: 100%;top: 50%;margin-top: -330px;z-index: 2;background-image: url(../img/circulo.svg);      background-repeat: no-repeat;background-position: 55% 50%;background-size: contain;padding: 20px 0;}


@media(min-width:1024px){
    #intro{background-position: 56% 50%;}
}
@media(min-width:1333px){
    #intro{background-position: 55% 50%;}
}
@media(min-width:1580px){
    #intro{background-position: 57% 50%;}
}

@media(min-width:1700px){
    #intro{background-position: 55% 50%;}
}
@media(min-width:1900px){
    #intro{background-position: 53% 50%;}
}

@media(max-height:768px){
    #intro{margin-top: -332px;}
}


#intro .container{
    position: relative;
    height: 620px;
}
#intro h1{
    font-weight: bold;
    font-size: 22px;
    margin: 35px 0 43px;
}

#logo-desafio{
    margin: 46px auto;
    width: 422px;
}



.logo-pascal{
    display: block;

    margin: 40px auto;
}

#intro .logo-pascal{
    width: 230px;
}
#intro-content1{}


#intro-content2{display: none;}
#intro-content2 h2{
    color: #9B64A3;
    font-size: 36px;
    font-weight: bold;
}

#pasos{padding: 0;margin: 0;font-size: 24px;list-style: none;}

#intro-content2 h4{
    color: #5CA26C;
    font-size: 16px;
    font-weight: bold;

}
#recuerda{
    color: #211915;
    font-size: 16px;
    margin-bottom: 30px;
}

@media(max-height:630px){
    #intro-content2 h2{
        font-size: 27px;
        margin: 9px;
    }
    #pasos{
        font-size: 20px;
    }
    #intro .logo-pascal{
        margin: 40px auto 19px;
    }
    #recuerda{
        margin-bottom: 30px;
    }
}





/* -----------
 * MEMOTEST
 * ----------- */


#memo-game{display: none;  font-family: 'Passion One', cursive;margin-top: 40px;padding: 0;background: #FFDB00;}

#memo-container{
    position: absolute;
    width: 100%;
    height: 761px;
    top: 50%;
    margin-top: -424px;
    z-index: 1;
    overflow: hidden;
    padding-top: 17px;
}




#memo-container .container{position: relative;}


#memo-container .logo-pascal{margin-top: 73px;}
#time{
    color: white;
    position: relative;
    text-align: center;
    margin-top: 116px;
}

@media(max-height:768px){
    #memo-game{
        margin-top: 0;
    }
    #memo-container{height: auto;top: 0;margin-top: 0;padding-top: 17px;}
    #time{
        margin-top: 95px;
    }
    #memo-container .logo-pascal{
        margin-top: 15px;
    }

    #score{
        margin-top: 166px !important;
    }
}

#time span{font-size: 81px;line-height: 65px;text-shadow: 7px -3px 0px rgba(57,55,69,0.2);}

#time p{margin: 0;font-size: 20px;}
#time-bg{
    background: #856097;
    position: absolute;
    width: 405px;
    height: 140px;
    border-radius: 85px;
    transform: rotate(-42deg);
    top: 47px;
    left: -221px;
    z-index: -1;
    box-shadow: 3px 5px 0px rgba(57,55,69,0.2);
}
#time-bg span{width: 144px;height: 48px;background: #EDC600;border-radius: 50px;display: block;margin-top: 109px;margin-left: 128px;box-shadow: 3px 5px 0px rgba(57,55,69,0.2);}



#score{
    text-align: center;
    color: white;
    position: relative;
    font-size: 20px;
    margin-top: 250px;
    min-height: 93px;
}

#score span{
    font-size: 81px;
    line-height: 65px;
    text-shadow: 7px -3px 0px rgba(57,55,69,0.2);
}
#score p{margin: 0;}

#score-bg{
    background: #5CA26C;
    position: absolute;
    width: 500px;
    height: 170px;
    border-radius: 85px;
    transform: rotate(-42deg);
    top: -156px;
    left: -44px;
    z-index: -1;
    box-shadow: 3px 5px 0px rgba(57,55,69,0.2);
}
#score-bg span{
    width: 160px;
    height: 57px;
    border-radius: 50px;
    display: block;
    margin-top: 139px;
    margin-left: 193px;
    box-shadow: 3px 5px 0px rgba(57,55,69,0.2);
    background: #856097;
}
#tries{
    position: relative;
    font-size: 32px;
    color: white;
    text-align: center;
    margin-top: 38px;
    min-height: 45px;
}
#tries img{width: 32px; height: 32px;}

#tries-bg{
    background: #EB3D40;
    position: absolute;
    width: 167px;
    height: 82px;
    border-radius: 85px;
    transform: rotate(-42deg);
    top: -49px;
    left: 23px;
    z-index: -2;
    box-shadow: 3px 5px 0px rgba(57,55,69,0.2);
}
#matches{text-align: left; font-size: 52px;color: #F4D900;line-height: 52px;margin-top: 59px;padding-left: 16px;}

#matches-bg{background: #856097;display: inline-block;border-radius: 13px;height: 50px;padding-left: 6px;padding-right: 4px;box-shadow: 3px -3px 0px rgba(57,55,69,0.2);}

#matches span{
    margin-right: -9px;
}

#toasty{
    position: relative;
    margin-top: -14px;
    z-index: 1;
    height: 150px;
}
#toasty-bg{
    background: #EDC600;
    position: absolute;
    width: 230px;
    height: 82px;
    border-radius: 85px;
    transform: rotate(-42deg);
    top: 48px;
    left: 17px;
    z-index: 1;
    display: none;
}

#toasty-fg{
    display: none;
    width: 200px;
    height: 28px;
    background: #FEDA00;
    position: absolute;
    top: 125px;
    transform: rotate(-42deg);
    z-index: 2;
    left: 91px;
}

#papa-noel-8bit{
    position: absolute;
    width: 150px;
    top: 4px;
    z-index: 2;
    right: -200px;
    opacity: 0;
}


/* -----------
 * MEMO CARDS
 * ----------- */

#cards-container{
    margin-top: 57px;
}

.memo-row{
    text-align: center;
    margin-bottom: 20px;
}


.card{
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-right: 20px;
    cursor: pointer;
    background: url(../img/gameImg/default.png) no-repeat white 50%;
    -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    transition:         all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    position: relative;
}

.card:hover{
    transform: scale(1.1);
}

.card.card-found{
    background: white;
    cursor: auto;
}

.card.card-found:before {
    /* content:  "\2713 "; */
    position: absolute;
    color: green;
    font-size: 37px;
    text-align: center;
    top: 50%;
    margin-top: -27px;
}

.card.card-found img{
    opacity: 0.3;
}


.card.card-found:hover{
    transform: scale(1);
}

.card img{}
.memo-row .card:last-child{}

@media(max-height:768px){
    .memo-row{
        margin-bottom: 10px;
    }
    .card{
        width: 150px;
        height: 145px;
        margin-right: 15px;
    }
    #cards-container{
        margin-top: 0;
    }
}

/* -----------
 * READY SET GO
 * ----------- */

#ready-set-go{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: rgba(0,0,0,0.7);
    z-index: 1000;
    overflow: hidden;
    display: none;
}

#ready-container{
    padding: 20px;
    margin-top: 50px;
    height: 300px;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -150px;
}
#ready-container div{display: none; }

#ready1{}
#ready2{}
#ready3{}

#set-go{}


/* -----------
 * AJAXING
 * ----------- */


.ajaxing {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(238, 238, 238, 0.5);
    text-align: center;
    top: 0;
    left: 0;
    padding: 24% 0px;
    display: none;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.ajaxing img {
    -webkit-animation: rotating 1s linear infinite;
    -moz-animation: rotating 1s linear infinite;
    -ms-animation: rotating 1s linear infinite;
    -o-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
}


/* -----------
 * SCORE SCREEN
 * ----------- */


#score-screen{
    position: absolute;
    background: rgba(255, 219, 0, 0);
    top: 0;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    padding-bottom: 50px;
    background-image: url(../img/circulo.svg);
    background-repeat: no-repeat;
    background-position: 57% 50%;
    background-size: 1100px;
    display: none;
}

#score-container {
    height: 748px;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -374px;
}

@media(max-height:768px){
    #score-container{height: auto;overflow: hidden;position: relative;top: 0;margin-top: 0;}
}

@media(max-width:1366px){
    #score-screen{background-position: 79% 50%;}
}

#score-screen .container{
    padding: 62px;
    position: relative;
}

#papa-noel-puntaje{
    -webkit-transform:translateZ(0);
    position: absolute;
    left: -2000%;
    top: 172px;
    -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    transition:         all 600ms cubic-bezier(0.19, 1, 0.22, 1);
}

#total-score{
    color: #5CA26C;
    font-family: Passion One;
    font-size: 46px;
    text-align: center;
    /* line-height: 52px; */
    /* height: 161px; */
}
#total-score-text{
    display: inline-block;
    line-height: 47px;
    letter-spacing: -1px;
    padding-top: 11px;
    margin-right: 0px;
}
#total-score-unit{
    display: block;
    margin-top: -5px;
    font-size: 33px;
    position: absolute;
    top: -24px;
    right: -53px;
}
#total-score-value{
    display: inline-block;
    font-size: 136px;
    position: relative;
    line-height: 124px;
}

/* -----------
 * SCORE ITEMS
 * ----------- */

#score-items{
    text-align: center;
    margin-top: 6px;
    margin-bottom: 23px;
}

.score-item{
    background: #856097;
    font-family: Lato;
    color: white;
    font-size: 17px;
    font-weight: bold;
    display: inline-block;
    padding: 6px 11px;
    width: 160px;
    text-align: left;
    border-radius: 50px;
    margin: 0 3px;
}
.score-item-text{

}
.score-item-value{
    float: right;
}

/* -----------
 * FORM SAVE PLAYER
 * ----------- */

#form-save-player {
    text-align: center;
    width: 517px;
    margin: 0 auto;
}

#form-save-player h3{
    font-family: Lato;
    font-size: 18px;
    font-weight: normal;
    color: #211915;
    text-align: center;
    margin-bottom: 0;
}
#form-save-player h2{
    font-family: Lato;
    font-size: 30px;
    font-weight: bold;
    color: #E89C38;
    text-align: center;
    margin: 5px 0 20px;
}


#form-save-player input[name=sex]{
    position: absolute;
    left: -50000%;
}

#form-save-player input[type=text]{
    width: 100%;
    font-family: Lato;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #5B318C;
    background: white;
    margin-bottom: 7px;
    padding: 9px 0;
}
#form-save-player input[type=text].input-error{
    border-color: red;
}
#form-save-player button{margin-top: 25px;}


/* -----------
 * EXTRA SCORE
 * ----------- */

#extra-score-container{
    display: none;
    text-align: center;
    font-family: Passion One;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -290px;
}

#extra-score-container h3{color: #603699;font-size: 60px;margin: 0;}
#extra-score-container h4{color:#603699;font-size: 34px;font-weight: bold;width: 626px;margin: 30px auto;font-family: Lato;}

.extra-santa {
    position: absolute;
    top: 111px;
    right: 3%;
}
.extra-points {
    color: #5CA26C;
    width: 377px;
    margin: 0 auto;
    overflow: hidden;
}

#extra-text{
    display: inline-block;
    line-height: 47px;
    letter-spacing: -1px;
    padding-top: 11px;
    margin-right: 0px;
    width: 232px;
    font-size: 70px;
    float: right;
    text-align: left;
}
#extra-number{
    display: inline-block;
    font-size: 136px;
    position: relative;
    line-height: 124px;
    float: left;
}

#no-share{
    color: #4A66A0;
    font-size: 25px;
    font-family: Lato;
    margin: 10px 0;
    display: block;
}

/* -----------
 * MAIN UI
 * ----------- */

.btn-primary{
    font-family: Open Sans;
    background: #5CA26C;
    border: none;
    color: white;
    font-size: 28px;
    font-weight: 300;
    padding: 15px 44px;
    border-radius: 50px;
    border-bottom: 3px solid #42723B;
}

.btn-primary:hover{background: #6DB77E;}
.btn-primary:active{background: #5CA06C;border-top: 5px solid #42723B;border-bottom: 0;}



.show-santa{
    -webkit-animation:showToastyGuy 1s;
    -moz-animation:showToastyGuy 1s;
    -o-animation:showToastyGuy 1s;
    animation:showToastyGuy 1s;
}

@-webkit-keyframes showToastyGuy 
{
    0% {right: -200px;}
    40% {right: 0;opacity: 1}
    60% {right: 0;}
    90% {opacity: 0}
    100% {right: -200px;}
}

@-moz-keyframes showToastyGuy 
{
    0% {right: -200px;}
    40% {right: 0;opacity: 1}
    60% {right: 0;}
    90% {opacity: 0}
    100% {right: -200px;}
}

@-o-keyframes showToastyGuy 
{
    0% {right: -200px;}
    40% {right: 0;opacity: 1}
    60% {right: 0;}
    90% {opacity: 0}
    100% {right: -200px;}
}

@keyframes showToastyGuy 
{
    0% {right: -200px;}
    40% {right: 0;opacity: 1}
    60% {right: 0;}
    90% {opacity: 0}
    100% {right: -200px;}
}



/* -----------
 * NEXUS ONE 960px
 * ----------- */

@media(max-width:970px){

    /* -----------
    * HOME
    * ----------- */

    #intro{
        margin-top: -264px;
    }

    #intro .logo-pascal{
        width: 230px;
        /* width: 19vw; */
        margin-top: 6vh;
    }
    #intro #logo-desafio{
        /* width: 32vw; */
        margin: 30px auto 21px;
    }

    #intro .container{
        height: auto;
        padding-bottom: 20px;
    }

    #content-container{
        /* background-size: contain; */
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
    }

    #intro #papa-noel-intro{
        width: 208px;
    }
    #intro #arbol-grande{}

    #intro #arbol-chico{}
}

/* -----------
 * RANKING
 * ----------- */

#ranking-screen{background: url(../img/ranking-bg.gif)no-repeat #FFDB00; background-size: cover; position: absolute; top: 0;bottom: 0;width: 100%;z-index: 100;display: none;}

#ranking-container{position: absolute;top: 50%;width: 100%;margin-top: -395px;}
#ranking-container .container{
    position: relative;
    /* padding: 0 80px; */
    width: 1000px;
}


#papa-noel-ranking{
    position: absolute;
    width: 180px;
    left: 0;
    top: 37px;
    z-index: 0;
}

#arboles-ranking{
    width: 86px;
    position: absolute;
    right: 0;
    top: -39px;
    right: 155px;
}

.ranking-title{
    display: block;
    text-align: center;
    width: 321px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 20px;
}
.ranking-title .logo-pascal{
    width: 140px;
    float: left;
    margin: 0;
}
.ranking-title h3{
    color: #744C8C;
    font-family: Passion One;
    font-size: 44px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
    float: right;
}

.position-td {
    padding-left: 30px !important;
    padding-right: 0 !important;
}
.name-td{
    padding-left: 0 !important;
}
.tiempo-td{
    padding-left: 0 !important;
}

.match-td{}

.ranking-table{
    position: relative;
    background: white;
    text-align: center;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    color: #727272;
    font-size: 17px;
    z-index: 2;
    font-weight: bold;
}
.ranking-table table{
    width: 100%;
    font-family: Lato;
    position: relative;
    z-index: 4;
}
.ranking-body {
    height: 300px;
    overflow: hidden;
    overflow-y: visible;
}

.ranking-table table tbody{
    background: #856097;
}

.ranking-table tr td{
    padding: 10px;
}

.ranking-table tr:nth-child(even) {
    background-color: #744C8C;
}
.ranking-table tr:nth-child(even) .ranking-value {
    background-color: #856097;
}

.ranking-table tbody tr.active{
    background: #FFDB00;
}

.ranking-table tbody tr:hover{
    background: #DA4243;
}

.ranking-table tbody tr:hover .ranking-value, .ranking-table tbody tr.active .ranking-value{
    background: #4A8455;
}

.ranking-table table thead td{
    padding: 10px;
}

.ranking-value{
    background: #744C8C;
    display: inline-block;
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 30px;
    min-width: 74px;
}

.ranking-share{
    font-family: Lato;
    text-align: center;
    background: white;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 30px;
}
.ranking-share h3{
    color: #4A66A0;
    font-weight: bold;
    font-size: 21px;
    margin: 0;
}
.ranking-share h4{
    margin: 0;
    font-weight: 400;
    font-size: 14px;
}

.ranking-position {
    background: #FFF;
    display: inline-block;
    padding: 6px 9px;
    border-radius: 50px;
    color: #744C8C;
    width: 40px;
    height: 40px;
    line-height: 29px;
    text-align: center;
}

.ranking-text{
    padding: 15px 0;
}
.ranking-text h5{
    font-size: 14px;
    font-family: Lato;
    font-weight: bold;
    text-align: center;
}
.volver-pascal{
    display: block;
    margin: 10px 0 0;
    font-size: 16px;
    text-decoration: underline;
}
.btn-fb{ background: #4A66A0;border-bottom: 3px solid #364C77;margin-top: 20px;display: inline-block;}

.btn-fb:hover{background: #6084D0;}


@media(max-height:768px){
    .ranking-body{
        height: 200px;
    }
    #ranking-container{
        position: relative;
        top: 0;
        margin-top: 0;
    }
    .ranking-share{padding: 19px;}

    .ranking-text{
        padding: 0px 0;
    }
    .ranking-share .btn-fb{
        padding: 7px 22px;
        font-size: 26px;
    }
}


/* -----------
 * FACEBOOK SHARE
 * ----------- */

.pluginButton{
    background: red;
}